.header {
	width: 100%;
	display: block;
	position: absolute;
	
	&__bg {
		position: absolute;
		width: 100%;
		min-height: 100vh;
		background: rgba(70, 70, 70, 0.70);
		opacity: 0;
	}

	& .container{
		max-width: 60%;
		max-height: 50%;
		padding: 80px 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&.active {

		.header__bg {
			opacity: 1;
		}

		.burger-btn {
			&:before {
				transform: rotate(45deg);
				top: 13px;
				background: #367ffe;
			}

			&:after {
				transform: rotate(-45deg);
				top: 13px;
				background: #367ffe;
			}

			span {
				opacity: 0;
			}
		}

		.nav__list {
			opacity: 1;
		}

		.menu {
			opacity: 1;
		}
	}
}

.nav-btn {
	margin-bottom: -35px;
	padding-left: 95%;
}

.burger-btn {
	display: block;
	position: relative;
	z-index: 2;
	width: 30px;
	height: 25px;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;

	&:before {
		content: ' ';
		position: absolute;
		height: 3px;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		transition: all 0.3s ease-in-out;
	}

	&:after {
		content: ' ';
		position: absolute;
		height: 3px;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		transition: all 0.3s ease-in-out;
	}

	span {
		position: absolute;
		display: block;
		height: 3px;
		top: 50%;
		left: 0;
		width: 100%;
		background: #fff;
		transform: translateY(-50%);
		transition: all 0.3s ease-in-out;
	}
}

.menu {
	padding-top: 50px;
	width: 100%;
	z-index: 1;
	opacity: 0;
	background: #fff;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;

	.nav {
		margin: 0 auto 50px;
		width: 40%;
		border-bottom: 2px solid #828080;
		font-family: "lato";
		font-weight: 300;
		font-size: 50px;
		text-align: center;
		transition: all 0.3s ease-in-out;

		&__list {
			opacity: 0;
			flex-wrap: wrap;
			transition: all 0.3s;
				line-height: 80px;

			& li:last-child {
				margin-bottom: 40px;
			}

			& a {
				color: #828080;
				transition: all 0.3s ease-in-out;
				
				&:hover {
					color: #367ffe;
				}
			}
		}
	}

	.social {
		margin: 0 25% 5%;
		display: flex;
		justify-content: space-evenly;

		&__link {
			color: #828080;
			font-size: 55px;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: #367ffe;
			}
		}
	}
}

