* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
  color: #fff;
}

.container {
  max-width: 2000px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: block;
  position: absolute;
}
.header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  padding-top: 5%;
  margin: 0 145px;
  padding: 0px 5px;
  font-family: "raleway";
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}
.nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav.active .nav_list {
  opacity: 1;
  visibility: visible;
}

.burger-btn {
  display: block;
  position: relative;
  z-index: 2;
  width: 50px;
  height: 45px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.burger-btn:before {
  content: " ";
  position: absolute;
  height: 3px;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.burger-btn:after {
  content: " ";
  position: absolute;
  height: 3px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.burger-btn span {
  position: absolute;
  height: 3px;
  top: 50%;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.welcome {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  text-align: center;
}
.about-me__holder-title {
  color: #3676fd;
  font-family: "latolight", sans-serif;
  font-size: 40px;
}
.about-me__holder-text {
  max-width: 1070px;
  padding-top: 70px;
  font-family: "latoregular", sans-serif;
  line-height: 2;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f1f8ff;
  min-height: 360px;
}
.clients__title-holder {
  text-align: center;
  padding: 90px 0;
}
.clients__title {
  font-family: "latolight", sans-serif;
  font-size: 40px;
  color: #3676fd;
}
.clients__menu-list {
  padding-bottom: 100px;
}
.clients__menu-list-logo {
  display: inline-block;
  margin: 0 30px;
  opacity: 0.2;
}
.clients__menu-list-logo:hover {
  opacity: 1;
  -webkit-transition: all ease-in-out 0.7s;
  transition: all ease-in-out 0.7s;
}