@import "../icon/style.css";
.expert-in {
  background-color: #F1F8FF;
}
.expert-in__heading {
  font-size: 50px;
  padding: 0 0 100px 0;
  text-align: center;
  color: #3572FD;
}
.expert-in__container {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.expert-in__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 21px;
  list-style: none;
}
.expert-in__item {
  min-width: calc(90% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.expert-in__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #3572FD;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.expert-in__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.expert-in__icon {
  border: 1px solid #B7C0C9;
  height: 139px;
  width: 139px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.expert-in i {
  font-size: 66px;
}
.expert-in__text {
  padding: 54px 0;
  max-width: 325px;
  text-align: center;
}
.expert-in .icon-Inteligentny-obiekt-wektorowy-4 {
  position: relative;
  left: 2px;
  bottom: 5px;
}
.expert-in h3 {
  color: #3572FD;
  padding-bottom: 21px;
}
.expert-in span {
  color: #5A5A5A;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}